<div>
  <h2>Give me some words, bro:</h2>
  <input type="text" name="words" id="words" [(ngModel)]="strVal" />
  <button (click)="setWords()">Sort em</button>
  <h2>We'll sort your words, here:</h2>
  <div class="flex row" *ngIf="columns">
    <div *ngFor="let column of columns; let i = index">
      <div *ngFor="let cell of column.cells; let j = index">
        <div *ngIf="column.cells.length > 0">
          <div class="wordItem" (click)="removeWord(cell, i, j)">{{ cell.word }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
